NODE_ENV=production
PORT=3001
HOSTNAME=127.0.0.1

NEXT_PUBLIC_SITE_URL=https://workout-federation.ru
# NEXT_PUBLIC_NO_INDEX=true

# Telegram Bot API (server-only). Не добавлять префикс NEXT_PUBLIC_.
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# JavaScript API Яндекс Карт (клиентский).
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=
